.Serche{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formAndButton{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
.ButtontoForm{
    height: 4.5vh;
    margin-left: 10px;
}

input{
    margin-top: 10px;
    width: 15vw;
    height: 4vh;
    border-radius: 30px;
    background: rgba(63, 146, 175, 0.53);
    color: rgb(1, 16, 1);
    font-weight: bold;
    font-size: 17px;
    border: 1px #011001 solid;
}

.dark{
    background: #aad6f1;
    color: #020246;
}
.light{
    background: #3b3535;
    color: #aad6f1;
}