.Genre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.div{
    margin-right: 5px;
    margin-top: 5px;
}
.div a{
    border: 1px black solid;
    padding:1.5px 3px 1.5px 3px;
    border-radius: 10px;

}
.div.light a{
    color: rgb(2, 2, 70);
}
.div.dark a{
    color: #4d4de7;
}
.light{
    background: rgba(118, 147, 52, 0.25);
    border-radius: 10px;
}
.dark{
    background: rgb(212, 212, 238);
    border-radius: 10px;
}
.div.light a[class='active'] {
    color: #0202f6;
}
.div.dark a[class='active'] {
    color: rgba(222, 127, 60, 0.94);
}