img{

    width: 16vw;
    height: 48vh;

}
.Movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.gropMovie{
    width: 16vw;
    height: 58vh;
    margin:2vh 1vw 0 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: black 1px solid;
    text-align: center;

}
h3{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    height: 5vh;
    width: 13vw;
    font-size: 25px;



}
 .light{    color: darkblue; }
 .dark{color: #aad6f1}

.rating{

    margin: -30px 0 -10px 0;
}
button{
    height: 4vh;
    width: 7vw;
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    cursor: pointer;
    box-shadow: 5px -9px 134px 24px rgba(120,87,226,0.64);
    border-radius: 30px;

}